* {
    font-family: Verdana, sans-serif;
}

.header {
    display: block;
    color: grey;
    max-width: 900px;
    text-align: center;
    margin: auto;
}

a {
    display: block;
    padding: 16px;
    text-decoration: none;
    width: 100px;
    background-color: azure;
}
a:hover {
    background-color:darkgrey;
}

.navigation {
    list-style-type: none;
    padding: 0px;
}
img {
    width: -webkit-fill-available;
}
.recipe {
    color: grey;
}    